{% extends "base.html" %}
{% block placef %}
		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<h2 class="text-uppercase">The Total Price Is : {{ order.get_total_price  }}$</h2>
                            <form action="{% url "orders:apply_coupon" order.id %}" method="post">
                                {% csrf_token %}
{% include "inc/messages.html" %}

                            {{ form }}
                                <br>
                                <input class="btn btn-primary" type="submit" value="submit">
                                </form>
                            <br>
							<a class="primary-btn cta-btn" href="#">Shop now</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
        </div>
{% endblock %}